.saludo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: antiquewhite;
}

.saludo-title {
    font-size: 24px;
}